// Place all the styles related to the Welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#welcome_index{
  font-weight: bold;
  font-size: 80px;
  text-decoration: underline;
  color: blue;
}

#body {
  background-image:    asset-data-url("shopping2.png");
  background-size:     cover;                     
  background-repeat:   no-repeat;
}
