// Place all the styles related to the Welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#welcome_index{
  font-weight: bold;
  font-size: 80px;
  text-decoration: underline;
  color: blue;
}

/* 
#body {
  background-image:    asset-data-url("shopping2.png");
  background-size:     cover;                     
  background-repeat:   no-repeat;
}
*/

.navbar-brand {
  color: black;
  font-weight: bold;
  cursor: default;
}

.signout_login{
  color: black;
}

.dropbtn {
    background-color: transparent;
    color: blue;
    padding: 16px;
    font-size: 16px;
    border: none;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: transparent;
    min-width: 160px;
  /*box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);*/
    z-index: 1;
}

.dropdown-content a {
    color: blue;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: transparent;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: transparent;}